<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Material Design Bootstrap</title>
  <!-- Font Awesome -->
  <link href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" rel="stylesheet" >
  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="css/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="css/style.min.css" rel="stylesheet">

  <link href="css/datepicker.css" rel="stylesheet">

  <style>
    .map-container{
      overflow:hidden;
      padding-bottom:56.25%;
      position:relative;
      height:0;
    }
    .map-container iframe{
      left:0;
      top:0;
      height:100%;
      width:100%;
      position:absolute;
    }

    div#principal { 
      max-height: 100px;
    }
  </style>

</head>

<body class="grey lighten-3">

  <!--Main Navigation-->
  <header>

    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
      <div class="container-fluid">

        <!-- Brand -->
        <a class="navbar-brand waves-effect" href="http://www.sriautomacao.com.br/" target="_blank">
          <strong class="blue-text">SRICASH</strong>
        </a>

        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <!-- Left -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link waves-effect" href="/">Produtos Vendidos                  
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link waves-effect"> Venda Finalizadora
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect" href="vendas">Vendas
                </a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-effect" href="logout"> Logoff
              </a>
            </li>
          </ul>
        </div>

      </div>
    </nav>
    <!-- Navbar -->

   

  </header>
  <!--Main Navigation-->

  <!--Main layout-->
  <div id="principal" class="pt-5 mx-lg-5">
    <div class="container-fluid mt-5">

      <!-- Heading -->
      <div class="card mb-4 wow fadeIn">
        <!--Card content-->
        <div class="card-body d-sm-flex justify-content-between">  
            <h4 class="mb-2 mb-sm-0 pt-1">
              <a href="/" target="_blank">Pagina Inicial</a>
              <span>/</span>
              <span>Finalizadora</span>
            </h4>         
            <div  class="d-flex justify-content-center">
              <input id="datepicker" class="form-control" data-date-format="dd/mm/yyyy" placeholder="Data:" value="<%= data %>" />              
              &nbsp;
              <select id="caixa" name="selectCaixa" class="form-control">
                <option value="Selecionar">Caixa</option>
                <option value="Todos">Todos</option>
              </select>
            </div>         
        </div>
      </div>
      <!-- Heading -->

      <!--Grid row-->
      <div class="row wow fadeIn">
        <!--Grid column-->
        <div class="col-md-12">
          <!--Card-->
          <div class="card">
            <!--Card content-->
            <div class="card-body">
              <canvas id="myChart"></canvas>
            </div>
          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->       
      </div>
      <!--Grid row-->
    </div>
  </div>
  <!--Main layout-->

  

  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="js/mdb.min.js"></script>

  <script type="text/javascript" src="js/bootstrap-datepicker.js" charset="UTF-8"></script>

  <!-- Initializations -->
  <script type="text/javascript">
    // Animations initialization
    new WOW().init();
  </script> 
 

  <script>
    $.fn.datepicker.dates['en'] = {
        days: ["Domingo", "Segunda", "Terça", "Quarta", "Quita", "Sexta", "Sabado", "Domingo"],
        daysShort: ["Dom", "Seg", "Ter", "Qua", "Qui", "Sex", "Sab", "Dom"],
        daysMin: ["Do", "Se", "Te", "Qu", "Qu", "Se", "Sa", "Do"],
        months: ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"],
        monthsShort: ["Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez"],
        today: "Hoje"
    };    

    $('#datepicker').datepicker({
        format: 'dd/mm/yyyy'
    })
    .on('changeDate', function(ev){
      const data = String(ev.target.value).replace('/','.').replace('/','.');
      console.log(data);
      var sel= document.getElementById('caixa');
      let i, L = sel.options.length - 1;
      for(i = L; i >= 0; i--) {
          sel.remove(i);
      };
      sel.options[sel.options.length] = new Option('Caixa', 'Selecionar');
      sel.options[sel.options.length] = new Option('Todos','Todos');
      console.log(sel);
      $.ajax({url: `/api/finalizadora/caixasativos/${data}`, success: function(result){
        const {dados} = result;
        console.log('dados: ', dados);
        dados.forEach(function (item, indice, array) {
          console.log('item:', item.caixa);          
          sel.options[sel.options.length] = new Option(item.caixa,item.caixa);
        });
        let ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx,{});
        myChart.clear();
        myChart.destroy()
      }});
      $('#datepicker').datepicker('hide');
    });

    $('#caixa')
    .on('change', function(ev){
       const caixa = ev.currentTarget.value;
       const data  = document.getElementById('datepicker').value.replace('/','.').replace('/','.');
       console.log('select: ', caixa, data);
       $.ajax({url: `/api/finalizadora/${data}/${caixa}`, success: function(result){
        const {dados} = result;
        console.log('dados: ', dados);
        const finDescricao = [];
        const finValor = [];
        dados.forEach(function (item, indice, array) {
          finDescricao.push(item.finalizadora);
          finValor.push(item.valor);
        });
        console.log('Descricao: ', finDescricao, 'Valor: ', finValor);
        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
          type: 'bar',
          data: {
            labels: finDescricao,
            datasets: [{
              label: '# of Votes',
              data: finValor,
              backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
              ],
              borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: true
                }
              }]
            }
          }
        });
      }});       
    });

  </script>
</body>

</html>
