<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Material Design Bootstrap</title>
  <!-- Font Awesome -->
  <link href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" rel="stylesheet" >
  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="css/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="css/style.min.css" rel="stylesheet">
  
  <link href="css/datepicker.css" rel="stylesheet">  
    
  <link href="css/jquery.dataTables.css" rel="stylesheet"/>
  

  <style>
    .map-container{
      overflow:hidden;
      padding-bottom:56.25%;
      position:relative;
      height:0;
    }
    .map-container iframe{
      left:0;
      top:0;
      height:100%;
      width:100%;
      position:absolute;
    }
    .hide_me {display: none;}
    li[data-dtr-index="0"] {display: none;}    
    li[data-dtr-index="3"] {display: none;}
  </style>
</head>

<body class="grey lighten-3">

  <!--Main Navigation-->
  <header>

    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
      <div class="container-fluid">

        <!-- Brand -->
        <a class="navbar-brand waves-effect" href="http://www.sriautomacao.com.br/" target="_blank">
          <strong class="blue-text">SRICASH</strong>
        </a>

        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <!-- Left -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link waves-effect">Produtos Vendidos                  
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect" onclick="redirectToFinalizadora();"> Venda Finalizadora
                </a>               
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect" onclick="redirectToVendas();">Vendas
                </a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-effect" href="logout"> Logoff
              </a>
            </li>
          </ul>
        </div>

      </div>
    </nav>
    <!-- Navbar -->

  </header>
  <!--Main Navigation-->

  <!--Main layout-->
  <div class="pt-5 mx-lg-5">
    <div class="container-fluid mt-5">

      <!-- Heading -->
      <div class="card mb-4 wow fadeIn">

        <!--Card content-->
        <div class="card-body d-sm-flex justify-content-between">  
            <h4 class="mb-2 mb-sm-0 pt-1">
              <a href="/" target="_blank">Pagina Inicial</a>
              <span>/</span>
              <span>Produtos Vendidos (Top 100)</span>
            </h4>         
            <div  class="d-flex justify-content-center">
              <input id="datepicker" class="form-control" data-date-format="dd/mm/yyyy" placeholder="Selecione uma data"/>
            </div>         
        </div>

      </div>
      <!-- Heading -->

      <!--Grid row-->
      <div class="row wow fadeIn">
        <!--Grid column-->
        <div class="col-md-12">
          <!--Card-->
          <div class="card">
            <!--Card content-->
            <div class="card-body">
              <table width="100%" id="tabela" class="display" cellspacing="0">
                <thead>
                    <tr>
                        <th class="hide_me">Código</th>
                        <th>Descrição</th>
                        <th>Qtd.</th>
                        <th class="hide_me">Vlr. Venda</th> <!-- data-priority="2" -->
                    </tr>
                </thead>                
              </table>              
            </div>
          </div>
          <!--/.Card-->
        </div>
        <!--Grid column-->       
      </div>
      <!--Grid row-->
    </div>
  </div>
  <!--Main layout-->

  

  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="js/mdb.min.js"></script>

  <script type="text/javascript" src="js/bootstrap-datepicker.js" charset="UTF-8"></script>

  <script type="text/javascript" src="js/datatables.min.js"></script>

  <!-- Initializations -->
  <script type="text/javascript">
    // Animations initialization
    new WOW().init();   
  </script> 

  <script>
     $(document).ready(function() {
      $('#tabela').DataTable({"language":  {
                "url": "js/dataTables.Portuguese-Brasil.lang"},
          aoColumnDefs: [ { "sClass": "hide_me", "aTargets": [] } ],
          responsive: true
      });
    });
  </script>

  <!-- Charts -->
  <!-- -->
  <script>
    $.fn.datepicker.dates['en'] = {
        days: ["Domingo", "Segunda", "Terça", "Quarta", "Quita", "Sexta", "Sabado", "Domingo"],
        daysShort: ["Dom", "Seg", "Ter", "Qua", "Qui", "Sex", "Sab", "Dom"],
        daysMin: ["Do", "Se", "Te", "Qu", "Qu", "Se", "Sa", "Do"],
        months: ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"],
        monthsShort: ["Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez"],
        today: "Hoje"
    };    
    $('#datepicker').datepicker({
        format: 'dd/mm/yyyy'
    })
    .on('changeDate', function(ev){
      const data = String(ev.target.value).replace('/','.').replace('/','.');
      console.log(data);
      $.ajax({url: `/api/vendidos/${data}`, success: function(result){
        console.log(result);        
        table = $('#tabela').DataTable();
        table.destroy();
        table = null;
        table = $('#tabela').DataTable({
          data: result.dados,
          "order": [[ 2, "desc" ]],
          "language":  {
                "url": "js/dataTables.Portuguese-Brasil.lang"
          },
          aoColumnDefs: [ { "sClass": "hide_me", "aTargets": [0,3] } ],
          responsive: true
        });
      }});
      $('#datepicker').datepicker('hide');
    });
  </script>

  <script>
    function redirectToFinalizadora(){
      var dt = document.getElementById("datepicker").value;
      var data;
      if (dt.length===10){
        data={data:dt.replace('/','.').replace('/','.'),caixa:"Todos"}
      };
      $.ajax('/finalizadora', {
          type: 'get',
          data,
          dataType: 'html',
          success : function(html) {
            $("body").html(html);
          },
          error: function(err) {
              alert(err.message);
          }
      });
    };
   
    function redirectToVendas(){
      var dt = document.getElementById("datepicker").value;
      var data;
      if (dt.length===10){
        data={data:dt.replace('/','.').replace('/','.'),caixa:"Todos"}
      };
      $.ajax('/vendas', {
          type: 'get',
          data,
          dataType: 'html',
          success : function(html) {
            $("body").html(html);
          },
          error: function(err) {
              alert(err.message);
          }
      });      
    };
  </script>

</body>

</html>
